@import '/src/sass/variables.scss';

.header {
    background-color: $poke-yellow;
    box-shadow: rgba(33, 33, 33, 0.3) 0px 25px 20px -20px;
    padding: $main-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    // border-bottom: 1px solid red;
}

// Tablet mediaquery
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: $main-padding-tablet;
    }
}

// Phone mediaquery
@media (max-width: 575.98px) {
    .header {
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 3rem;
    }
}
