@import '/src/sass/variables.scss';

.searchbar {
    display: flex;
    background: #f0f0f0;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: 0.3s all;

    input {
        padding: 1rem;
        width: 100%;
        background: none;
        border: none;

        &:focus {
            outline: none;
        }
    }

    button {
        background: none;

        img {
            transition: all 0.5s;
            height: 50px;
            transition: transform 0.7s ease-in-out;

            &:hover {
                transform: rotate(360deg) scale(0.9);
            }
        }
    }
}

.searchbar-active {
    box-shadow: $poke-yellow 0px 2px 3px 0px, $poke-yellow 0px 2px 4px 2px !important;
}
