@import '/src/sass/variables.scss';

.pokedex {
    padding: $main-padding-page;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    height: 100vh;
}

// Tablet mediaquery
@media (min-width: 768px) and (max-width: 1024px) {
    .pokedex {
        padding: $main-padding-page-tablet;
    }
}

// Phone mediaquery
@media (max-width: 575.98px) {
    .pokedex {
        padding: $main-padding-page-tablet;
        height: auto;
        min-height: 100vh;
        padding: 2rem;
        gap: 3rem;
    }
}
